@import './src/module/stooges-variables.scss';
@import './src/scss/project-variables.scss';
@import './src/module/stooges-mixin.scss';
@import './src/scss/project-mixin.scss';
@import './src/module/stooges-basscss.scss';
@import './src/scss/project-basscss.scss';
@import './src/scss/fontFamily.scss';

* {
	box-sizing: border-box;
}
.container {
	border: 1px solid blue;
	padding: 0 8px;
	.box {
		// border: 1px solid red;
		width: 33.33%;
		height: 100px;
		float: left;
		padding: 8px;
		.item {
			width: 100%;
			height: 100%;
			background: red;
		}
	}
	&:after {
		display: table;
		content: ' ';
		clear: both;
	}
}
