* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-webkit-input-placeholder {
  color: #bbbbbb;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #bbbbbb;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #bbbbbb;
  opacity: 1;
}

::placeholder {
  color: #bbbbbb;
  opacity: 1;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

#modelBrowser {
  display: none;
}

body {
  font-family: "Didact Gothic", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 15px;
  color: #221E1F;
  background-color: white;
  min-width: 315px;
  overflow-x: hidden;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

a,
.href {
  color: #8CC63E;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

a:hover,
.href:hover {
  color: #bbdd8d;
  text-decoration: none;
}

label {
  white-space: nowrap;
  color: #8e8e8e;
}

h1,
.h1 {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #221E1F;
  line-height: 1em;
  letter-spacing: 1;
  margin: 0 0 0;
}

h2,
.h2 {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  color: #221E1F;
  line-height: 1;
  letter-spacing: 1;
  margin: 0 0 0;
}

h3,
.h3 {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #221E1F;
  line-height: 1;
  letter-spacing: 1;
  margin: 0 0 0;
}

h4,
.h4 {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #221E1F;
  line-height: 1;
  letter-spacing: 1;
  margin: 0 0 0;
}

h5,
.h5 {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 9px;
  font-weight: normal;
  color: #221E1F;
  line-height: 1;
  letter-spacing: 1;
  margin: 0 0 0;
}

h6,
.h6 {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 9px;
  font-weight: normal;
  color: #221E1F;
  line-height: 1;
  letter-spacing: 1;
  margin: 0 0 0;
}

p {
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-weight: 400;
  color: #221E1F;
  line-height: normal;
  letter-spacing: normal;
  margin: 0 0 0;
}

.bold {
  font-weight: 700;
}

.left-align {
  text-align: left;
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

.justify {
  text-align: justify;
}

.nowrap {
  white-space: nowrap;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.table {
  display: table;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  background-color: transparent;
}

.table th,
.table td {
  padding: 0.75rem;
  border-top: 1px solid #eceeef;
}

.clearfix:before,
.clearfix:after {
  content: ' ';
  display: table;
}

.clearfix:after {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}

.relative {
  position: relative;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.cursorPointer {
  cursor: pointer;
}

.pre {
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}

.fit {
  width: 100%;
}

.ck img {
  max-width: 100%;
}

.m0 {
  margin: 0;
}

.mt0 {
  margin-top: 0;
}

.mr0 {
  margin-right: 0;
}

.mb0 {
  margin-bottom: 0;
}

.ml0 {
  margin-left: 0;
}

.mx0 {
  margin-left: 0;
  margin-right: 0;
}

.mxn0 {
  margin-left: -0;
  margin-right: -0;
}

.my0 {
  margin-top: 0;
  margin-bottom: 0;
}

.p0 {
  padding: 0;
}

.pt0 {
  padding-top: 0;
}

.pr0 {
  padding-right: 0;
}

.pb0 {
  padding-bottom: 0;
}

.pl0 {
  padding-left: 0;
}

.px0 {
  padding-left: 0;
  padding-right: 0;
}

.py0 {
  padding-top: 0;
  padding-bottom: 0;
}

.m1 {
  margin: 8px;
}

.mt1 {
  margin-top: 8px;
}

.mr1 {
  margin-right: 8px;
}

.mb1 {
  margin-bottom: 8px;
}

.ml1 {
  margin-left: 8px;
}

.mx1 {
  margin-left: 8px;
  margin-right: 8px;
}

.mxn1 {
  margin-left: -8px;
  margin-right: -8px;
}

.my1 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.p1 {
  padding: 8px;
}

.pt1 {
  padding-top: 8px;
}

.pr1 {
  padding-right: 8px;
}

.pb1 {
  padding-bottom: 8px;
}

.pl1 {
  padding-left: 8px;
}

.px1 {
  padding-left: 8px;
  padding-right: 8px;
}

.py1 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.m2 {
  margin: 16px;
}

.mt2 {
  margin-top: 16px;
}

.mr2 {
  margin-right: 16px;
}

.mb2 {
  margin-bottom: 16px;
}

.ml2 {
  margin-left: 16px;
}

.mx2 {
  margin-left: 16px;
  margin-right: 16px;
}

.mxn2 {
  margin-left: -16px;
  margin-right: -16px;
}

.my2 {
  margin-top: 16px;
  margin-bottom: 16px;
}

.p2 {
  padding: 16px;
}

.pt2 {
  padding-top: 16px;
}

.pr2 {
  padding-right: 16px;
}

.pb2 {
  padding-bottom: 16px;
}

.pl2 {
  padding-left: 16px;
}

.px2 {
  padding-left: 16px;
  padding-right: 16px;
}

.py2 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.m3 {
  margin: 24px;
}

.mt3 {
  margin-top: 24px;
}

.mr3 {
  margin-right: 24px;
}

.mb3 {
  margin-bottom: 24px;
}

.ml3 {
  margin-left: 24px;
}

.mx3 {
  margin-left: 24px;
  margin-right: 24px;
}

.mxn3 {
  margin-left: -24px;
  margin-right: -24px;
}

.my3 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.p3 {
  padding: 24px;
}

.pt3 {
  padding-top: 24px;
}

.pr3 {
  padding-right: 24px;
}

.pb3 {
  padding-bottom: 24px;
}

.pl3 {
  padding-left: 24px;
}

.px3 {
  padding-left: 24px;
  padding-right: 24px;
}

.py3 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.m4 {
  margin: 32px;
}

.mt4 {
  margin-top: 32px;
}

.mr4 {
  margin-right: 32px;
}

.mb4 {
  margin-bottom: 32px;
}

.ml4 {
  margin-left: 32px;
}

.mx4 {
  margin-left: 32px;
  margin-right: 32px;
}

.mxn4 {
  margin-left: -32px;
  margin-right: -32px;
}

.my4 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.p4 {
  padding: 32px;
}

.pt4 {
  padding-top: 32px;
}

.pr4 {
  padding-right: 32px;
}

.pb4 {
  padding-bottom: 32px;
}

.pl4 {
  padding-left: 32px;
}

.px4 {
  padding-left: 32px;
  padding-right: 32px;
}

.py4 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 421px) {
  .sm-col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .sm-col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .sm-col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .sm-col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .sm-col-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .sm-col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .sm-col-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .sm-col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .sm-col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .sm-col-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .sm-col-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .sm-col-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 769px) {
  .md-col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .md-col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .md-col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .md-col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .md-col-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .md-col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .md-col-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .md-col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .md-col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .md-col-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .md-col-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .md-col-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1025px) {
  .lg-col-1 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.33333%;
            flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .lg-col-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.66667%;
            flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .lg-col-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .lg-col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 33.33333%;
            flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .lg-col-5 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
            flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .lg-col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
  .lg-col-7 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
            flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .lg-col-8 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 66.66667%;
            flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .lg-col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: 75%;
  }
  .lg-col-10 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 83.33333%;
            flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .lg-col-11 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 91.66667%;
            flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .lg-col-12 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (min-width: 1px) and (max-width: 420px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
  .xs-hide {
    display: none;
  }
  .mxn2 {
    margin-left: -8px;
    margin-right: -8px;
  }
  .mxn2 > .p2 {
    padding-left: 8px;
    padding-right: 8px;
  }
}

@media (min-width: 421px) and (max-width: 768px) {
  .container {
    max-width: 520px;
  }
  .sm-hide {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .md-hide {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1364px) {
  .container {
    max-width: 1025px;
  }
  .lg-hide {
    display: none;
  }
}

@media (min-width: 1365px) and (max-width: 9999px) {
  .container {
    max-width: 1170px;
  }
  .xl-hide {
    display: none;
  }
}

[class*='image-scale-'] {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

[class*='image-scale-']:before {
  content: '';
  display: block;
}

[class*='image-scale-'].image-scale-1by1:before {
  padding-top: calc(1 / 1 * 100%);
}

[class*='image-scale-'] iframe,
[class*='image-scale-'] .contain {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

[class*='image-scale-'] img.contain {
  -o-object-fit: cover;
     object-fit: cover;
}

router-outlet {
  display: block;
  height: 0;
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotating {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.rotating:before {
  -webkit-animation: rotating 2s linear infinite;
          animation: rotating 2s linear infinite;
}

::-moz-selection {
  background: #8CC63E;
  color: #000;
}

::selection {
  background: #8CC63E;
  color: #000;
}

[class*='flaticon-']:before {
  display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-menu:before {
  content: "\f100";
}

.flaticon-cancel:before {
  content: "\f101";
}

.flaticon-error:before {
  content: "\f102";
}

.flaticon-eye-close-up:before {
  content: "\f103";
}

@font-face {
  font-family: "Flaticon";
  src: url("./src/fonts/Flaticon.eot");
  src: url("./src/fonts/Flaticon.eot?#iefix") format("embedded-opentype"), url("./src/fonts/Flaticon.woff") format("woff"), url("./src/fonts/Flaticon.ttf") format("truetype"), url("./src/fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 1025px) {
  header .headerFixed {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 93px;
  }
  header .headerFixed .headerContent {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  header .headerFixed .headerContent .logo {
    margin: 15px 0 0 30px;
    height: 100%;
  }
  header .headerFixed .headerContent .logo a img {
    width: 100%;
    height: 100%;
    display: block;
  }
  header .headerFixed .headerContent .navigationBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 5%;
  }
  header .headerFixed .headerContent .navigationBar .leftNavigationBar {
    width: 100%;
  }
  header .headerFixed .headerContent .navigationBar .leftNavigationBar nav ul {
    padding: 0;
  }
  header .headerFixed .headerContent .navigationBar .leftNavigationBar nav ul li {
    display: inline-block;
  }
  header .headerFixed .headerContent .navigationBar .leftNavigationBar nav ul li a {
    display: block;
    text-transform: uppercase;
    color: #000000;
    font-size: 12px;
    padding: 10px 5px 30px 5px;
    margin: 25px 20px 0 0;
    cursor: pointer;
    height: 20px;
  }
  header .headerFixed .headerContent .navigationBar .leftNavigationBar nav ul li a:hover {
    border-bottom: 3px blue solid;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  header .headerFixed {
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: 93px;
    display: block;
  }
  header .headerFixed .headerContent {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  header .headerFixed .headerContent .logo {
    margin: 15px 0 0 30px;
    height: 100%;
  }
  header .headerFixed .headerContent .logo a img {
    width: 100%;
    height: 100%;
    display: block;
  }
  header .headerFixed .headerContent .navigationBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 5%;
  }
  header .headerFixed .headerContent .navigationBar .leftNavigationBar nav ul {
    padding: 0;
  }
  header .headerFixed .headerContent .navigationBar .leftNavigationBar nav ul li {
    display: inline-block;
  }
  header .headerFixed .headerContent .navigationBar .leftNavigationBar nav ul li a {
    display: block;
    text-transform: uppercase;
    color: #000000;
    font-size: 12px;
    padding: 10px 5px 30px 5px;
    margin: 25px 20px 0 0;
    cursor: pointer;
    height: 20px;
  }
  header .headerFixed .headerContent .navigationBar .leftNavigationBar nav ul li a:hover {
    border-bottom: 2px blue solid;
  }
}

@media (max-width: 768px) {
  header .headerFixed {
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    height: auto;
  }
  header .headerFixed .headerContent {
    z-index: 50;
    width: 100%;
  }
  header .headerFixed .headerContent .logo {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
  }
  header .headerFixed .headerContent .logo a img {
    width: 222px;
    height: 100%;
    display: block;
  }
  header .headerFixed .headerContent .navigationBar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header .headerFixed .headerContent .navigationBar .leftNavigationBar nav ul {
    padding: 0;
  }
  header .headerFixed .headerContent .navigationBar .leftNavigationBar nav ul li {
    display: inline-block;
  }
  header .headerFixed .headerContent .navigationBar .leftNavigationBar nav ul li a {
    display: block;
    text-transform: uppercase;
    color: #000000;
    font-size: 12px;
    margin: 10px 10px 0 0;
    padding-bottom: 20px;
    cursor: pointer;
    height: 20px;
  }
  header .headerFixed .headerContent .navigationBar .leftNavigationBar nav ul li a:hover {
    border-bottom: 2px blue solid;
  }
}

.box {
  border: 1px solid;
}

.mark {
  color: #8CC63E;
}

.container-lg {
  position: relative;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.cardGalleryImage {
  left: 0;
  height: 100%;
  width: 100%;
}

@media (min-width: 769px) {
  .cardGalleryImage {
    top: 93px;
    position: absolute;
  }
  .cardGalleryImage .imageArea .imageLink {
    position: relative;
    display: block;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
  }
  .cardGalleryImage .imageArea .imageLink:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  .cardGalleryImage .imageArea .imageLink .titleContent {
    position: absolute;
    width: 74%;
    padding: 0px;
    top: 53%;
    left: 45%;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .cardGalleryImage .imageArea .imageLink .titleContent .mainTitle {
    font-size: 35px;
    text-align: left !important;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: normal;
    color: #ffffff;
    padding: 0 0 10px;
    margin: 0 0 15px;
    text-align: center;
    text-transform: uppercase;
  }
}

@media (min-width: 769px) and (min-width: 1025px) {
  .cardGalleryImage .imageArea .imageLink .titleContent .mainTitle {
    font-size: 55px;
  }
}

@media (min-width: 769px) {
  .cardGalleryImage .imageArea .imageLink .titleContent .content {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    opacity: 0.9;
    cursor: pointer;
  }
  .cardGalleryImage .imageArea .imageLink .secondTitleContent {
    border: solid;
    position: absolute;
    width: 100%;
    max-width: 85%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .cardGalleryImage .imageArea .imageLink .secondTitleContent .secondTitle {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: -10px;
    opacity: 1;
    cursor: pointer;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .cardGalleryImage .imageArea .imageLink .secondTitleContent .secondTitle {
    font-size: 24px;
  }
}

@media (min-width: 769px) {
  .cardGalleryImage .imageArea .imageLink img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    z-index: -1;
  }
}

@media (max-width: 768px) {
  .cardGalleryImage {
    top: 150px;
    position: relative;
  }
  .cardGalleryImage .imageArea .imageLink {
    position: relative;
    display: block;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
  }
  .cardGalleryImage .imageArea .imageLink:hover {
    background: rgba(0, 0, 0, 0.2);
  }
  .cardGalleryImage .imageArea .imageLink .titleContent {
    position: absolute;
    width: 74%;
    padding: 0px;
    top: 53%;
    left: 45%;
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .cardGalleryImage .imageArea .imageLink .titleContent .mainTitle {
    font-size: 22px;
    text-align: left !important;
    font-weight: normal;
    color: #ffffff;
    padding: 0 0 10px;
    margin: 0 0 15px;
    text-align: center;
    text-transform: uppercase;
  }
  .cardGalleryImage .imageArea .imageLink .secondTitleContent {
    position: absolute;
    width: 100%;
    max-width: 85%;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .cardGalleryImage .imageArea .imageLink .secondTitleContent .secondTitle {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 24px;
    opacity: 1;
    cursor: pointer;
  }
}

@media (max-width: 768px) and (max-width: 768px) {
  .cardGalleryImage .imageArea .imageLink .titleContent .content {
    display: none;
  }
}

@media (max-width: 768px) {
  .cardGalleryImage .imageArea .imageLink img {
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    position: relative;
    z-index: -1;
  }
}

.cover .sideLeftBar {
  width: 327px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cover .sideLeftBar .sideLeftBarContent {
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #1e1d1d;
}

.cover .sideLeftBar .sideLeftBarContent nav {
  margin-top: 40px;
  color: #ffffff;
}

.cover .sideLeftBar .sideLeftBarContent nav ul {
  padding: 0;
}

.cover .sideLeftBar .sideLeftBarContent nav ul li {
  list-style: none;
  margin-top: 10px;
  width: 100%;
  border-top: 1px #313131 solid;
}

.cover .sideLeftBar .sideLeftBarContent nav ul li .link {
  display: block;
  height: 29px;
  line-height: 29px;
  font-size: 12px;
  text-transform: uppercase;
  opacity: 0.8;
  padding: 0 0 0 5%;
}

.cover .sideLeftBar .sideLeftBarContent nav ul li .link.active {
  background-color: #595858;
}

.cover .sideLeftBar .sideLeftBarContent nav ul li .sublink {
  margin: 14px 0 25px 0;
  width: 100%;
  display: none;
  background-color: #595858;
}

.cover .sideLeftBar .sideLeftBarContent nav ul li .sublink.show {
  display: block;
  background-color: #1e1d1d;
}

.cover .sideLeftBar .sideLeftBarContent nav ul li .sublink a {
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.cover .sideLeftBar .sideLeftBarContent nav ul li .sublink a {
  line-height: 20px;
  height: 20px;
  padding: 0 0 0 5%;
  margin: 0 0 7px;
  font-size: 11px;
  color: #ffffff;
  display: block;
}

.cover .sideLeftBar .sideLeftBarContent nav ul li .sublink a:hover {
  background-color: #595858;
}

.cover .rightFix {
  position: fixed;
  right: 0;
  left: 327px;
  width: 100%;
}

.cover .rightFix .threeCardGalleryImage img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.aboutUsImage {
  width: 100%;
  height: 470px;
}

.aboutUsImage .backgroundImage {
  background-repeat: no-repeat;
  background-position: center top;
  left: 0;
  top: 0;
  position: absolute;
  height: 470px;
  width: 100%;
}

.aboutUsImage .backgroundImage .aboutUsContent {
  padding: 20px;
  width: 100%;
  position: relative;
  margin-top: 300px;
}

.aboutUsImage .backgroundImage .aboutUsContent h4 {
  font-size: 22px;
  letter-spacing: 1px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.aboutUsImage .backgroundImage .aboutUsContent h2 {
  height: 53px;
  margin: 16px auto;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2.5px;
  text-align: center;
  line-height: 52px;
  font-size: 33px;
}

@media (min-width: 769px) {
  .aboutUsImage .backgroundImage .aboutUsContent h2 {
    line-height: 52px;
    font-size: 33px;
  }
}

@media (max-width: 768px) {
  .aboutUsImage .backgroundImage .aboutUsContent h2 {
    line-height: 22px;
    font-size: 18px;
  }
}

.profileBlackBackground {
  padding-bottom: 30px;
  background-color: #1b1a1a;
  border: solid;
  height: 100%;
}

.profileBlackBackground .secodNavBar {
  color: #fff;
  z-index: 1;
  height: 72px;
  width: 100%;
}

.profileBlackBackground .secodNavBar .navBarContent {
  height: 100%;
  padding: 0;
  width: 100%;
}

.profileBlackBackground .secodNavBar .navBarContent ul {
  margin-top: 30px;
  text-align: center;
  padding: 0;
}

.profileBlackBackground .secodNavBar .navBarContent ul li {
  list-style-type: none;
  display: inline-block;
}

.profileBlackBackground .secodNavBar .navBarContent ul li a {
  border: 1px solid #3c3c3c;
  height: 33px;
  line-height: 33px;
  color: #fff;
  width: auto;
  max-width: 44px;
  text-transform: uppercase;
  opacity: 0.56;
  cursor: pointer;
}

@media (min-width: 769px) {
  .profileBlackBackground .secodNavBar .navBarContent ul li a {
    padding: 4px 24px;
    font-size: 14px;
    margin: 0 51px 0;
  }
}

@media (min-width: 421px) and (max-width: 768px) {
  .profileBlackBackground .secodNavBar .navBarContent ul li a {
    padding: 8px 10px;
    margin: 0px 8px;
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  .profileBlackBackground .secodNavBar .navBarContent ul li a {
    padding: 4px 5px;
    margin: 0px 10px;
    font-size: 12px;
  }
}

.profileBlackBackground .secodNavBar .navBarContent ul li a:active {
  background-color: #2c2c2c;
  opacity: 1;
}

.profileBlackBackground .profileContent {
  text-align: center;
}

.profileBlackBackground .profileContent h2 {
  color: #fff;
  padding: 0 0 30px;
  font-size: 18px;
  text-transform: uppercase;
  margin: 40px 0 30px;
}

.profileBlackBackground .profileContent p {
  color: #fff;
  font-size: 14px;
}

@media (max-width: 1024px) {
  .whiteCardImageText .vanishImage {
    display: none;
  }
}

.whiteCardImageText .whiteSpace {
  height: 207.5px;
}

@media (max-width: 768px) {
  .whiteCardImageText .whiteSpace {
    display: none;
  }
}

.whiteCardImageText img {
  width: 100%;
  position: relative;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.whiteCardImageText .coverContent {
  padding: 5px 0 0;
}

.whiteCardImageText .coverContent .whiteCardTitle1 {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #272626;
  text-transform: uppercase;
}

.whiteCardImageText .coverContent .whiteCardTitle2 {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 36px;
  color: #272626;
  text-transform: uppercase;
  line-height: 36px;
}

.whiteCardImageText .coverContent .whiteCardTitle3 {
  width: 100%;
  float: left;
  text-align: center;
  font-size: 14px;
  color: #272626;
  text-transform: uppercase;
  margin: 0 0 5px;
}

.whiteCardImageText .coverContent .whiteCardContent {
  padding: 0 4%;
  width: 100%;
  font-size: 13px;
  line-height: 15px;
  margin-bottom: 20px;
}

.showroomBlackBackground {
  padding-bottom: 30px;
  position: relative;
  background-color: #1b1a1a;
  border: solid;
}

.showroomBlackBackground .showroomContent {
  width: 100%;
  text-align: center;
}

.showroomBlackBackground .showroomContent h2 {
  color: #ffffff;
  padding: 0 0 30px;
  font-size: 18px;
  text-transform: uppercase;
  margin: 40px 0 30px;
}

.showroomBlackBackground .showroomContent p {
  color: #ffffff;
  font-size: 14px;
}

.twoImageGallery img {
  width: 100%;
  position: relative;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.brandBackgroundImage {
  width: 100%;
}

.brandBackgroundImage .backgroundImageContent {
  width: 100%;
  height: 542px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brandBackgroundImage .backgroundImageContent .title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brandBackgroundImage .backgroundImageContent .title p {
  width: 100%;
  max-width: 750px;
  color: #fff;
  font-size: 50px;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2.5px;
  line-height: 76px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.brandDictum {
  padding: 30px 0 25px 0;
  width: 100%;
}

.brandDictum .inside_quote {
  max-width: 1044px;
  margin: 0 auto;
}

.brandDictum .inside_quote .quote_left {
  width: 100%;
  background-repeat: no-repeat;
  background-position: left top;
  margin-bottom: 20px;
  float: left;
}

.brandDictum .inside_quote .quote_text {
  text-transform: uppercase;
  line-height: 20px;
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  padding: 0px 2% 0px 3%;
  width: 95%;
}

.brandDictum .inside_quote .quote_right {
  width: 100%;
  background-repeat: no-repeat;
  background-position: right bottom;
  margin-bottom: 20px;
  float: right;
}

.brandDropDownImage .dropDownContent {
  background-color: #1e1d1d;
  width: 100%;
}

.brandDropDownImage .dropDownContent nav ul {
  padding: 0;
}

.brandDropDownImage .dropDownContent nav ul li {
  list-style: none;
  width: 100%;
}

.brandDropDownImage .dropDownContent nav ul li .link {
  height: 85px;
  width: 100%;
  border-bottom: 1px #313131 solid;
  color: #ffffff;
  font-size: 18px;
  font-weight: 100;
  line-height: 91px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.8;
  cursor: pointer;
}

.brandDropDownImage .dropDownContent nav ul li .sublink {
  width: 100%;
  text-align: center;
  display: none;
  padding: 40px 0;
}

@media (max-width: 768px) {
  .brandDropDownImage .dropDownContent nav ul li .sublink .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 1024px) {
  .brandDropDownImage .dropDownContent nav ul li .sublink .container {
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .brandDropDownImage .dropDownContent nav ul li .sublink .container .row .p1 {
    padding: 4px !important;
  }
}

.brandDropDownImage .dropDownContent nav ul li .sublink.show {
  display: block;
}

.brandDropDownImage .dropDownContent nav ul li .sublink .websiteImage {
  display: block;
  width: 100%;
  margin: 10px auto;
}

.brandDropDownImage .dropDownContent nav ul li .sublink .websiteImage img {
  width: 100%;
  max-width: 100%;
  height: 69px;
  display: block;
}

.brandDropDownImage .dropDownContent nav ul li .sublink .websiteNameLink {
  color: #fff;
  font-weight: 100;
  padding: 8px;
  width: 100%;
  display: block;
  font-size: 13px;
}

@media (min-width: 1025px) {
  .mediaOutsideCover {
    padding-top: 150px;
    padding-left: 327px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .mediaOutsideCover .header {
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: blue;
    z-index: 1;
  }
  .mediaOutsideCover .sideLeftBar {
    position: fixed;
    width: 327px;
    height: calc(100% - 150px);
    top: 150px;
    left: 0;
    overflow-y: scroll;
    background-color: #1e1d1d;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink {
    position: relative;
    height: 100%;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav {
    margin-top: 60px;
    color: #ffffff;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul {
    padding: 0;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li {
    list-style: none;
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid #313131;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .link {
    display: block;
    height: 29px;
    line-height: 29px;
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.8;
    padding: 0 0 0 5%;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .link.active {
    background-color: #595858;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .sublink {
    margin: 14px 0 25px 0;
    width: 100%;
    display: none;
    background-color: #595858;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .sublink.show {
    display: block;
    background-color: #1e1d1d;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .sublink a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    line-height: 20px;
    height: 20px;
    padding: 0 0 0 31px;
    margin: 0 0 7px;
    font-size: 11px;
    color: #ffffff;
    display: block;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .sublink a:hover {
    background-color: #595858;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage {
    z-index: -1;
    height: 100%;
    width: 100%;
    padding: 40px;
    background-color: #bcbcbc;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .topTitle {
    font-size: 20px;
    text-decoration: underline;
    font-weight: 100;
    text-transform: uppercase;
    margin-left: 10px;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-top: 40px;
    border-right: 1px black solid;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent .image {
    width: 50%;
    margin-left: 10px;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent .image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent .content {
    width: 50%;
    height: 100%;
    margin: auto;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent .content .title {
    font-size: 15px;
    margin: 7px 0 10px;
    padding-left: 5px;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent .content .description {
    text-decoration: underline;
    font-size: 14px;
    padding-left: 5px;
    display: block;
    color: #333333;
    line-height: 21px;
    font-weight: 100;
    cursor: pointer;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .mediaOutsideCover {
    padding-top: 150px;
    padding-left: 242px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .mediaOutsideCover .header {
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: blue;
    z-index: 1;
  }
  .mediaOutsideCover .sideLeftBar {
    position: fixed;
    width: 242px;
    height: calc(100% - 150px);
    top: 150px;
    left: 0;
    overflow-y: scroll;
    background-color: #1e1d1d;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink {
    position: relative;
    height: 100%;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav {
    margin-top: 60px;
    color: #ffffff;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul {
    padding: 0;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li {
    list-style: none;
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid #313131;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .link {
    display: block;
    height: 29px;
    line-height: 29px;
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.8;
    padding: 0 0 0 5%;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .link.active {
    background-color: #595858;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .sublink {
    margin: 14px 0 25px 0;
    width: 100%;
    display: none;
    background-color: #595858;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .sublink.show {
    display: block;
    background-color: #1e1d1d;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .sublink a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    line-height: 20px;
    height: 20px;
    padding: 0 0 0 31px;
    margin: 0 0 7px;
    font-size: 11px;
    color: #ffffff;
    display: block;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .sublink a:hover {
    background-color: #595858;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage {
    z-index: -1;
    height: 100%;
    width: 100%;
    padding: 40px;
    background-color: #bcbcbc;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .topTitle {
    font-size: 20px;
    text-decoration: underline;
    font-weight: 100;
    text-transform: uppercase;
    margin-left: 10px;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-top: 40px;
    border-right: 1px black solid;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent .image {
    width: 50%;
    margin-left: 10px;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent .image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent .content {
    width: 50%;
    height: 100%;
    margin: auto;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent .content .title {
    font-size: 15px;
    margin: 7px 0 10px;
    padding-left: 5px;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent .content .description {
    text-decoration: underline;
    font-size: 14px;
    padding-left: 5px;
    display: block;
    color: #333333;
    line-height: 21px;
    font-weight: 100;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .mediaOutsideCover {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .mediaOutsideCover .header {
    width: 100%;
    height: 150px;
    position: relative;
    text-align: center;
    background-color: blue;
    z-index: 1;
  }
  .mediaOutsideCover .sideLeftBar {
    position: relative;
    width: 100%;
    height: auto;
    overflow-y: scroll;
    background-color: #1e1d1d;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink {
    position: relative;
    height: 100%;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav {
    margin-top: 60px;
    color: #ffffff;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul {
    padding: 0;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li {
    list-style: none;
    margin-top: 10px;
    width: 100%;
    border-top: 1px solid #313131;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .link {
    display: block;
    height: 29px;
    line-height: 29px;
    font-size: 12px;
    text-transform: uppercase;
    opacity: 0.8;
    padding: 0 0 0 5%;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .link.active {
    background-color: #595858;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .sublink {
    margin: 14px 0 25px 0;
    width: 100%;
    display: none;
    background-color: #595858;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .sublink.show {
    display: block;
    background-color: #1e1d1d;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .sublink a {
    text-decoration: none;
    outline: none;
    cursor: pointer;
    line-height: 20px;
    height: 20px;
    padding: 0 0 0 31px;
    margin: 0 0 7px;
    font-size: 11px;
    color: #ffffff;
    display: block;
  }
  .mediaOutsideCover .sideLeftBar .navPageLink nav ul li .sublink a:hover {
    background-color: #595858;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage {
    z-index: -1;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #bcbcbc;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .topTitle {
    margin-top: 20px;
    font-size: 16px;
    text-decoration: underline;
    font-weight: 100;
    text-transform: uppercase;
    margin-left: 10px;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    margin-top: 40px;
    border-right: 1px black solid;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent .image {
    width: 50%;
    margin-left: 10px;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent .image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent .content {
    width: 50%;
    height: 100%;
    margin: auto;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent .content .title {
    font-size: 15px;
    margin: 7px 0 10px;
    padding-left: 5px;
  }
  .mediaOutsideCover .mediaRightSideGalleryImage .mediaGalleryContent .content .description {
    text-decoration: underline;
    font-size: 14px;
    padding-left: 5px;
    display: block;
    color: #333333;
    line-height: 21px;
    font-weight: 100;
    cursor: pointer;
  }
}

@media (min-width: 769px) {
  .contactCover {
    padding-top: 150px;
    padding-left: 327px;
    position: absolute;
    top: 0;
    left: 0;
  }
  .contactCover .header {
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: blue;
  }
  .contactCover .contactLeftSideBar {
    position: fixed;
    width: 327px;
    height: calc(100% - 150px);
    top: 150px;
    left: 0;
    overflow-y: scroll;
    background-color: #1d1d11;
  }
  .contactCover .contactLeftSideBar .companyInfo {
    margin-top: 10px;
    padding: 16px;
  }
  .contactCover .contactLeftSideBar .companyInfo .title {
    padding: 20px 0 20px;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contactCover .contactLeftSideBar .companyInfo .content {
    font-size: 12px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .contactCover .contactRightSideBar .contactFormContent .contactForm {
    padding: 40px;
  }
  .contactCover .contactRightSideBar .contactFormContent .contactForm p {
    font-size: 20px;
    margin: 20px 0;
  }
  .contactCover .contactRightSideBar .contactFormContent .contactForm form label {
    font-size: 12px;
    color: #252525;
    width: 100%;
  }
  .contactCover .contactRightSideBar .contactFormContent .contactForm form .inputBox {
    margin: 10px 0;
    padding: 0 10px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border: 1px solid #afafaf;
  }
  .contactCover .contactRightSideBar .contactFormContent .contactForm form textarea {
    margin: 10px 0;
    resize: none;
    width: 100%;
    height: 124px;
    line-height: 30px;
    font-size: 12px;
    border: 1px solid #afafaf;
  }
  .contactCover .contactRightSideBar .contactFormContent .contactForm form .privacyPolicy a {
    color: #252525;
    margin-left: 8px;
    text-decoration: underline;
  }
  .contactCover .contactRightSideBar .contactFormContent .contactForm form .submitButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .contactCover .contactRightSideBar .contactFormContent .contactForm form .submitButton .send {
    width: auto;
    height: 32px;
    line-height: 32px;
    padding: 0 37px;
    background-color: #555555;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .contactCover {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
  }
  .contactCover .header {
    width: 100%;
    height: 150px;
    position: relative;
    background-color: blue;
  }
  .contactCover .contactLeftSideBar {
    position: relative;
    width: 100%;
    height: auto;
    overflow-y: scroll;
    background-color: #1d1d11;
  }
  .contactCover .contactLeftSideBar .companyInfo {
    margin-top: 10px;
    padding: 16px;
  }
  .contactCover .contactLeftSideBar .companyInfo .title {
    padding: 20px 0 20px;
    text-transform: uppercase;
    font-size: 16px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .contactCover .contactLeftSideBar .companyInfo .content {
    font-size: 12px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .contactCover .contactRightSideBar .contactFormContent .contactForm {
    padding: 40px;
  }
  .contactCover .contactRightSideBar .contactFormContent .contactForm p {
    font-size: 20px;
    margin: 20px 0;
  }
  .contactCover .contactRightSideBar .contactFormContent .contactForm form label {
    font-size: 12px;
    color: #252525;
    width: 100%;
  }
  .contactCover .contactRightSideBar .contactFormContent .contactForm form .inputBox {
    margin: 10px 0;
    padding: 0 10px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    border: 1px solid #afafaf;
  }
  .contactCover .contactRightSideBar .contactFormContent .contactForm form textarea {
    margin: 10px 0;
    resize: none;
    width: 100%;
    height: 124px;
    line-height: 30px;
    font-size: 12px;
    border: 1px solid #afafaf;
  }
  .contactCover .contactRightSideBar .contactFormContent .contactForm form .privacyPolicy a {
    color: #252525;
    margin-left: 8px;
    text-decoration: underline;
  }
  .contactCover .contactRightSideBar .contactFormContent .contactForm form .submitButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .contactCover .contactRightSideBar .contactFormContent .contactForm form .submitButton .send {
    width: auto;
    height: 32px;
    line-height: 32px;
    padding: 0 37px;
    background-color: #555555;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
  }
}

@media (min-width: 769px) {
  footer .footerContainer {
    height: 44px;
    width: 100%;
    background-color: #000000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footerContainer .menu {
    margin-left: 20px;
  }
  footer .footerContainer .menu nav ul li {
    display: inline-block;
  }
  footer .footerContainer .menu nav ul li a {
    color: #ffffff;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
    margin: 0 5px;
  }
  footer .footerContainer .menu nav ul li a:hover {
    border-bottom: 3px solid #ffffff;
  }
  footer .footerContainer .footerContactBar {
    display: none;
  }
  footer .footerContainer .copyright {
    margin-right: 20px;
    padding-top: 10px;
    color: #ffffff;
    font-size: 12px;
    line-height: 24px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  footer .footerContainer {
    width: 100%;
    background-color: #000000;
    display: block;
  }
  footer .footerContainer .menu nav ul {
    padding: 0;
    margin: auto;
    text-align: center;
  }
  footer .footerContainer .menu nav ul li {
    display: inline-block;
  }
  footer .footerContainer .menu nav ul li a {
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    margin: 0 5px;
    cursor: pointer;
  }
  footer .footerContainer .menu nav ul li a:hover {
    border-bottom: 3px solid #ffffff;
  }
  footer .footerContainer .footerContactBar {
    text-align: center;
  }
  footer .footerContainer .footerContactBar nav ul {
    padding: 0;
  }
  footer .footerContainer .footerContactBar nav ul li {
    display: inline-block;
  }
  footer .footerContainer .footerContactBar nav ul li a {
    display: block;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
    margin: 0 10px;
    line-height: 12px;
    cursor: pointer;
  }
  footer .footerContainer .footerContactBar nav ul li a:hover {
    border-bottom: 2px #ffffff solid;
  }
  footer .footerContainer .copyright {
    text-align: center;
    color: #ffffff;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
  }
}
/*# sourceMappingURL=style.css.map */