//app 规范
//1 color
$color-main:            #8CC63E; //按钮，文字，顶栏...
$color-secondary-1:     #221E1F;
$color-secondary-2:     #6C6E70;
$color-secondary-3:     #ff0000;
$color-basic-1:          #f2f5f8; // 背景
$color-basic-2:          #e4e4e4; // 底拦
$color-basic-3:          #969696; // 常规图标
$color-basic-4:          #4c4c4c; // tooltips

//2 font color
$font-color-1:      #221E1F; // 正文
$font-color-2:      #8e8e8e; // 次级文字
$font-color-3:      #bbbbbb; // 提示类文字
$font-color-4:      #abc0dc; // 提示类可点击文字
$font-color-5:      #ffffff; // 顶拦与按钮上的文字

//3 font-family & font-size
$font-family-1:         'Didact Gothic',-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
$font-family-2:         'Roboto Condensed',-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
$font-family-3:         '-',-apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
$h1:    2.5rem; // 特大号：顶拦标题，大按钮文字
$h2:    2.0rem; // 大号：正文
$h3:    15px; // 中号：话题标题，人名，评论，大按钮文字，输入框，搜索条
$h4:    12px; // 小号：小按钮文字，地址，提示小子
$h5:    9px;  // 特小号：次次级说明
$h6:    9px;

//4. padding
$space-1:   8px; // 特密
$space-2:   16px; // 亲密
$space-3:   24px; // 一般
$space-4:   32px; // 区分
$space-5:   40px; 
$space-6:   48px; 
$space-7:   56px; 
$space-8:   64px; 

$container-sm-max-width : 520px;
$container-md-max-width : 768px;
$container-lg-max-width : 1025px;
$container-xl-max-width : 1170px;
$container-padding : $space-2;
$container-xs-padding : $space-1;
$body-background-color : white;
$body-font-size : $h3;
$body-font-family : $font-family-1;
$placeholderColor: $font-color-3;
$font-weight: 700;

$font-family-h1:$font-family-2;
$color-h1:$font-color-1;
$line-height-h1: 1em;
$letter-spacing-h1: 1;
$font-weight-h1: normal;
$margin-h1:0 0 0;

$font-family-h2:$font-family-2;
$color-h2:$font-color-1;
$line-height-h2: 1;
$letter-spacing-h2: 1;
$font-weight-h2: normal;
$margin-h2:0 0 0;

$font-family-h3:$font-family-2;
$color-h3:$font-color-1;
$line-height-h3: 1;
$letter-spacing-h3: 1;
$font-weight-h3: normal;
$margin-h3:0 0 0;

$font-family-h4:$font-family-2;
$color-h4:$font-color-1;
$line-height-h4: 1;
$letter-spacing-h4: 1;
$font-weight-h4: normal;
$margin-h4:0 0 0;

$font-family-h5:$font-family-2;
$color-h5:$font-color-1;
$line-height-h5: 1;
$letter-spacing-h5: 1;
$font-weight-h5: normal;
$margin-h5:0 0 0;

$font-family-h6:$font-family-2;
$color-h6:$font-color-1;
$line-height-h6: 1;
$letter-spacing-h6: 1;
$font-weight-h6: normal;
$margin-h6:0 0 0;

$font-family-p:$font-family-2;
$color-p:$font-color-1;
$line-height-p: normal;
$letter-spacing-p: normal;
$font-weight-p: 400;
$margin-p:0 0 0;

